@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  /* Custom UI Mockup Colors */
  --color-on-error-container: #93000a;
  --color-secondary: #2b5bb5;
  --color-surface-container-highest: #e0e2ec;
  --color-tertiary-fixed-dim: #ffb691;
  --color-background: #f9f9ff;
  --color-error-container: #ffdad6;
  --color-surface: #f9f9ff;
  --color-primary: #005bbf;
  --color-inverse-on-surface: #eff0fa;
  --color-surface-bright: #f9f9ff;
  --color-on-surface: #191c23;
  --color-tertiary-container: #c55500;
  --color-on-error: #ffffff;
  --color-outline-variant: #c1c6d6;
  --color-on-tertiary: #ffffff;
  --color-secondary-fixed: #d9e2ff;
  --color-inverse-surface: #2d3038;
  --color-tertiary-fixed: #ffdbcb;
  --color-surface-tint: #005bc0;
  --color-on-secondary: #ffffff;
  --color-on-primary-fixed-variant: #004493;
  --color-surface-container-high: #e6e8f2;
  --color-secondary-container: #759efd;
  --color-primary-fixed: #d8e2ff;
  --color-on-primary-fixed: #001a41;
  --color-on-tertiary-fixed-variant: #783100;
  --color-secondary-fixed-dim: #b0c6ff;
  --color-on-primary-container: #ffffff;
  --color-surface-dim: #d8d9e3;
  --color-on-surface-variant: #414754;
  --color-on-primary: #ffffff;
  --color-on-secondary-fixed: #001945;
  --color-on-tertiary-fixed: #341100;
  --color-primary-fixed-dim: #adc7ff;
  --color-on-secondary-fixed-variant: #00429c;
  --color-error: #ba1a1a;
  --color-tertiary: #9e4300;
  --color-surface-variant: #e0e2ec;
  --color-primary-container: #1a73e8;
  --color-outline: #727785;
  --color-on-secondary-container: #00337c;
  --color-surface-container: #ecedf7;
  --color-inverse-primary: #adc7ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-background: #191c23;
  --color-surface-container-low: #f2f3fd;
  --color-on-tertiary-container: #0e0200;

  /* Custom UI Mockup Spacings */
  --spacing-xs: 4px;
  --spacing-md: 16px;
  --spacing-base: 4px;
  --spacing-xl: 40px;
  --spacing-gutter: 24px;
  --spacing-sm: 8px;
  --spacing-container-max: 1280px;
  --spacing-lg: 24px;
}
